@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

/* NAV */

  nav {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    padding: 1.4rem 1rem;
    background-color: #17139e;
    backdrop-filter: blur(10px);
  }

  .main-heading{
    font-size: 40px;
  }
  

/* LOGO */

  .logo {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .logo a {
    color: #fff;
    text-decoration: none;
  }

/* MENU */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 0;
  }


.col {
  border-radius: 20px;
  padding: 0px;
  background-color:rgb(211,211,211,0.5);
  margin:0px 10px 10px 10px;
  min-height: 400px;
}

h2{
  border-radius: 20px 20px 0px 0px;
  background-color: #17139e;
  color: white;
  padding: 10px;
}

.table,td,tr{
    border: 1px solid black;
}
tr{
    text-align: center;
}
